.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
    text-align: center!important;
    display: flex;
    height: 100vh;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ececec;

}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  display: block;
}

.contact  {
  background-image: url('../public/assets/bg.jpg');
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px 100px;
  position: relative;
  background: black;
  box-sizing: border-box;
  animation: shadowExpandX 2s linear infinite alternate;
}

@keyframes shadowExpandX {
  0% {
    box-shadow: 0 0, 0 0;
    color: #606470;
  }
  100% {
    box-shadow: -24px 0, 24px 0;
    color: black;
  }
}

@media (max-width: 1300px) {
  .contact {
    background-size: cover;
   height: 140vh;
  }

  .contact-card {
    height: 100vh;
  }

  .error-message {
    position: absolute;
    font-size: .8rem;
    padding: 0px;
    margin: 0Px;
  }
}


@media (max-width: 450px) {
  .contact {
    background-size: cover;
    height: 300vh;
  }

.error-message {
  position: absolute;
  font-size: .7rem;
  padding: 0px;
  margin: 0Px;
}

button{
  margin: 0px;
  padding: 0px;
}
}

@media (max-width: 992px) {
  .nav-cont {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .btn-text {
    display: none;
}
}